# Binariesディレクトリを無視する
Binaries

DerivedDataCache

# 中間ファイルディレクトリを無視する
Intermediate

# UE5のキャッシュディレクトリを無視する
Saved
Publish
Build
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
